footer {
    margin-top: 100px
}
footer .bottom{
    color: brown;
    background-color:lemonchiffon;
    padding: 5px 5px 5px 5px ;
    opacity: 0.8;
}
footer h3{
  text-align: center;  
}
section img{
    display:block;
    margin: auto;
}